<div class="row">

    <div class="col-md-7">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Perfil de Usuario</h3>
            <p class="text-muted m-b-30 font-13"> Nombre Usuario </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate #f="ngForm" (ngSubmit)="actualizarUsuario( f.value )">
                        <div class="form-group">
                            <label for="exampleInputEmail1">User Name</label>
                            <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del usuario" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input [ngModel]="usuario.email" name="email" type="email" [disabled]="usuario.google" class="form-control" placeholder="Correo del usuario" required>
                        </div>

                        <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                        <!-- <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Fotografía de Usuario</h3>
            <p class="text-muted m-b-30 font-13"> Foto Usuario </p>

            <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150">
            <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
            <input (change)="seleccionaArchivo( $event.target.files[0])" type="file">

            <br>

            <button (click)="cambiarImagen()" [disabled]="!archivoSubir" type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Actualizar foto
                </button>
        </div>
    </div>

</div>